@import "./partials/typography";
@import "./partials/setUp";
@import "./partials/userInputs";
@import "./partials/results";
@import "./partials/footer";
@import "./partials/mediaQueries";
body {
  text-align: center;
  
}
.wrapper {
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
}
